/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2017, 1:52:06 AM
    Author     : leona
*/

body {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    position: relative;
    font-size: medium;
}

header {
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    background-image: url("images/title3.png");


}

footer {
    width: 1000px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    margin-top: -30px;
}

footer h3 {
    padding-top: 15px;
    background-color: #1C913F;
    border-top: 3px solid black;
    height: 40px;
}
main {
    width: 1000px;
    height: 100%;
    margin: 0 auto;

    border-collapse: collapse;

}

#reservationList {
    padding: 30px;
    margin: 0 auto;
    width: 1000px;
    height: 20em;
    

}

#reservationList td {
    text-align: center;

}


#reservationList table {
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-size: 1.2em;
    border: solid black;
    width: 100%;
    height: 15em;
    background-color: bisque;

}
#reservationList table th {
    border-bottom: solid black;

}

#confirmation {
    margin: 0 auto;
    width: 954px;
    border: solid black;
    padding: 20px;
}

#reservation {
    height: 20em;
    padding-left: 30px;
    margin: 0 auto;
    width: 1000px;
    font-size: 2em;

}



#reservation label{
    float: left;
}

#reservation input {
    float: right;
    clear: both;
    width: 100%;
    margin-top: 10px;
    height:35px;
}

#reservation input[type=submit] {
    width:15em;
    float: left;
    margin-bottom: 30px;
}

.home{


    height: 502px;
    position: relative;
    margin-top: 27px;
    margin-left: 0px;
    padding-left: 0px;

    border-top: 3px solid black;
    background-image: url("../images/background1.png");
    background-repeat: no-repeat;

}

.home100{


    height: 502px;
    position: relative;
    margin-top: 27px;
    margin-left: 0px;
    padding-left: 0px;

    border-top: 3px solid black;
    background-image: url("../images/background100.png");
    background-repeat: no-repeat;

}


.home101{


    height: 502px;
    position: relative;
    margin-top: 27px;
    margin-left: 0px;
    padding-left: 0px;

    border-top: 3px solid black;
    background-image: url("../images/background101.png");
    background-repeat: no-repeat;

}


.home102{


    height: 502px;
    position: relative;
    margin-top: 27px;
    margin-left: 0px;
    padding-left: 0px;

    border-top: 3px solid black;
    background-image: url("../images/background102.png");
    background-repeat: no-repeat;

}

.home103{


    height: 502px;
    position: relative;
    margin-top: 27px;
    margin-left: 0px;
    padding-left: 0px;

    border-top: 3px solid black;
    background-image: url("../images/background103.png");
    background-repeat: no-repeat;

}
article {
    margin: 0em;
    padding: 0em;
    float: right;
    width: 654px;
    height: 100%;
    background-color: #1C913F;


}



article h2 {
    text-align: center;
    font-size: 210%;
    padding: 25px 0px 0px 0px;
    margin: 0px;
}

fieldset {
    padding: 0px;
    margin: 0px;
}
.right{
    height: 595px;
    float: right;
    width: 17%;

    border-left: 3px solid black;
    margin-right: 0;
    background-color: #1C913F;
}

.left{
    height: 595px;
    float: left;
    width: 17%;

    border-right: 3px solid black;
    background-color: #1C913F;

}

.left h2 {
    padding-top: 50PX;


}

.right h2 {
    padding-top:50PX;
}

.left hr {
    width: 135px;

}

.right hr {
    width: 135px;

}

.left input[type='submit']{
    margin: 0px 0px 0px 30px;
}
aside h2 {
    text-align: center;

}


.table8a  {
    padding: 25px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 0px;
    top: 430px;
}

.table8b  {
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 533px;
    top: 430px;
}

.table6a {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: -18px;
    top: 300px;
    -webkit-transform:rotate(270deg);

}
.table6b {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 110px;
    top: 282px;
}

.table6c {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 250px;
    top: 282px;
}

.table6d {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 395px;
    top: 282px;
}

.table6e {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 150px;
    top: 440px;
}

.table6f {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 400px;
    top: 440px;
}

.table4a {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 110px;
    top: 80px;
}

.table4b {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 215px;
    top: 80px;
}

.table4c {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;;
    left: 315px;
    top: 80px;
}
.table4d {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 415px;
    top: 80px;
}

.table4e {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: -13px;
    top: 165px;
    -webkit-transform:rotate(270deg);
}

.table4f {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 110px;
    top: 180px;
}
.table4g {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 215px;
    top: 180px;
}
.table4h{
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 315px;
    top: 180px;
}
.table4i {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 415px;
    top: 180px;
}

.table4j {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 285px;
    top: 449px;
}
.table2a {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 110px;
    top: 0px;

}

.table2b {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 215px;
    top: 0px;

}

.table2c {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 315px;
    top: 0px;
}

.table2d {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 420px;
    top: 0px;

}

.table18_100  {
  padding: 25px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 0px;
    top: 430px;
}

.table22_100  {
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 533px;
    top: 430px;
}

.table14_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: -18px;
    top: 300px;
    -webkit-transform:rotate(270deg);

}
.table15_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 110px;
    top: 282px;
}

.table16_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 250px;
    top: 282px;
}

.table17_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 395px;
    top: 282px;
}

.table19_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 150px;
    top: 440px;
}

.table21_100 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 400px;
    top: 440px;
}

.table5_100 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 110px;
    top: 80px;
}

.table6_100 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 215px;
    top: 80px;
}

.table7_100 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;;
    left: 315px;
    top: 80px;
}
.table8_100 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 415px;
    top: 80px;
}

.table9_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: -13px;
    top: 165px;
    -webkit-transform:rotate(270deg);
}

.table10_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 110px;
    top: 180px;
}
.table11_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 215px;
    top: 180px;
}
.table12_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 315px;
    top: 180px;
}
.table13_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 415px;
    top: 180px;
}

.table20_100 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 285px;
    top: 449px;
}
.table1_100 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 110px;
    top: 0px;

}

.table2_100 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 215px;
    top: 0px;

}

.table3_100 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 315px;
    top: 0px;
}

.table4_100 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 420px;
    top: 0px;

}

.table5_101  {
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
      left: 533px;
    top: 0px;
}

.table19_101  {
    padding: 15px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
      left: 0px;
    top: 430px;
}

.table15_101 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: -18px;
    top: 300px;
    -webkit-transform:rotate(270deg);

}
.table16_101 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 110px;
    top: 282px;
}

.table17_101 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 255px;
    top: 282px;
}

.table18_101 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 405px;
    top: 282px;
}



.table6_101 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 110px;
    top: 80px;
}

.table7_101 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 215px;
    top: 80px;
}

.table8_101 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;;
    left: 320px;
    top: 80px;
}
.table9_101 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 425px;
    top: 80px;
}

.table10_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: -13px;
    top: 165px;
    -webkit-transform:rotate(270deg);
}

.table11_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 110px;
    top: 180px;
}
.table12_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 215px;
    top: 180px;
}
.table13_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 320px;
    top: 180px;
}
.table14_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 425px;
    top: 180px;
}

.table20_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 150px;
    top: 450px;
}

.table21_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 265px;
    top: 450px;
}

.table22_101 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 380px;
    top: 450px;
}
.table1_101 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 110px;
    top: 0px;

}

.table2_101 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 215px;
    top: 0px;

}

.table3_101 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 315px;
    top: 0px;
}

.table4_101 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 420px;
    top: 0px;

}

.table1_102  {
    padding: 25px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 2px;
    top: 2px;
}


.table17_102 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left:110px;
    top:282px;
   

}
.table18_102 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 275px;
    top: 282px;
}

.table19_102 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 440px;
    top: 282px;
}

.table20_102 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
     left: 110px;
    top: 440px;
}

.table22_102 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 445px;
    top: 440px;
}



.table2_102 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 160px;
    top: 0px;
}

.table3_102 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 265px;
    top: 0px;
}

.table4_102 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;;
    left:370px;
    top: 0px;
}
.table5_102 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 475px;
    top: 0px;
}

.table12_102 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 115px;
    top: 175px;
    
}

.table13_102 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 235px;
    top: 175px;
}
.table14_102 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 355px;
   top: 175px;
}
.table15_102 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 465px;
    top: 175px;
}
.table21_102 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 285px;
    top: 450px;
}


.table7_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 115px;
    top: 95px;

}

.table8_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
  left: 235px;
    top: 95px;
   

}

.table9_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
  left: 355px;
    top: 95px;
}

.table10_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
   left: 465px;
    top: 95px;

}

.table6_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: -20px;
    top: 125px;
-webkit-transform:rotate(270deg);

}
.table11_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left:-20px;
    top: 240px;
    -webkit-transform:rotate(270deg);

}
.table16_102 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left:-20px;
    top: 355px;
    -webkit-transform:rotate(270deg);

}

.table1_103  {
    padding: 25px;
    border-radius: 30px;
    position: absolute;
    width:120px;
    height: 70px;
    left: 2px;
    top: 2px;
}


.table17_103 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left:110px;
    top:282px;
   

}
.table18_103 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 275px;
    top: 282px;
}

.table19_103 {
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    width:100px;
    height: 60px;
    left: 440px;
    top: 282px;
}


.table2_103 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 160px;
    top: 0px;
}

.table3_103 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 265px;
    top: 0px;
}

.table4_103 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;;
    left:370px;
    top: 0px;
}
.table5_103 {
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    position: absolute;
    width: 75px;
    height: 50px;
    left: 475px;
    top: 0px;
}

.table12_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 115px;
    top: 175px;
    
}

.table13_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 235px;
    top: 175px;
}
.table14_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 355px;
   top: 175px;
}
.table15_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 465px;
    top: 175px;
}
.table20_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 110px;
    top: 450px;
}

.table21_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 235px;
    top: 450px;
}
.table22_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 355px;
    top: 450px;
}

.table23_103 {
    padding: 10px 0px 10px 0px;
    border-radius: 10px;
    position: absolute;
    width: 80px;
    height: 50px;
    left: 475px;
    top: 450px;
}
.table7_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: 115px;
    top: 95px;

}

.table8_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
  left: 235px;
    top: 95px;
   

}

.table9_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
  left: 355px;
    top: 95px;
}

.table10_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
   left: 465px;
    top: 95px;

}

.table6_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left: -20px;
    top: 125px;
-webkit-transform:rotate(270deg);

}

.table11_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left:-22px;
    top: 240px;
    -webkit-transform:rotate(270deg);

}
.table16_103 {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    position: absolute;
    left:-22px;
    top: 355px;
    -webkit-transform:rotate(270deg);

}

.login {
    width: 996px;
    margin: 0 auto;
    margin-top: -20px;

    background-color: #BEBEBE;
    padding-bottom: 40px;

}

.login form {
    padding-top: 50px;
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
}

.login input[type='text'] {
    font-size: 1.1em;
    width: 100px;
}

.login input[type='submit']{
    padding:  4px 20px 4px 20px;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    background-color: #1C913F;
    font-weight: 800;
}

.login h5 {
    text-align: center;
    color: gray;

}

.admin_log {
    font-size: .70em;
    width: 300px;
    margin: 0 auto;
    line-height: 35px;

}

.admin_log input[type='text']
{
    font-size: .9em;
    width: 130px;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}

.admin_log label {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
}

.admin_log form {
    padding-top: 0px;
}

.reserve {
    margin-left: 23px;
    padding: 7px;
    border: 4px groove #BEBEBE;
    border-radius: 20px;
    font-weight: 700;
}

.serverList {
    margin-left: 20px;
    padding: 7px;
    border: 4px groove #BEBEBE;
    border-radius: 20px;
    font-weight: 700;
}

nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

nav li {
    display: inline-block;
}

.home_controls input[type='text']{
    width: 100px;

}

.home_controls {
    float: right;
    margin-right: 40px;
  
}

nav {
    background-color: #BEBEBE;
    height: 27px;
}

nav input[type='submit'] {
    border-style:outset;
    margin-top: 2px;

}
header p {
    padding-top: 0px;
    margin: 0px;
}


.server{
    padding-left: 5px;
    margin-top: 0px;



}

.server td {
    padding: 2px 0px 4px 5px;
    font-size: 1.1em;
}

.wait {
    text-align: center;
}

.servers {
    width: 1000px;
    background-color: #BEBEBE;
    padding: 10px 0px 20px 0px;
    font-size: 1.3em;
  
    
}

.servers h1 {
    text-align: center;
    
}


.servers table {
margin: 0 auto;
padding: 20px;


}

.servers td {
    padding: 5px 10px;
    
}

.input_form form {
    margin-left: 5px;
    margin-top: 5px;
    width: 300px;
}
.input_form label {
    float: left;
    margin-left: 20px;
    margin-top: 0px;
}
.input_form input[type='text'] {
    width: 130px;
    float: right;
    margin-right: 20px;
    margin-top: 0px;
}

.home_controls2 {
    float: left;
    width:200px;
    margin-right: 30px;
}

.home_controls3{
    width: 250px;
    float: right;
    margin-right: 220px;
    
}
.home_controls3 input[type='submit']{
    padding: 0px 40px 0px 40px;
    margin-right: 80px;
    
    background-color: #1C913F;
    color: #ffffff;



}

.addWait {
    margin: 20px 0px 0px 10px;
    padding: 2px 10px 2px 10px;
    border: 4px groove #BEBEBE;
    border-radius: 20px;
    font-weight: 700;
}

.waitList {
    background-color: #1C913F;
    padding-bottom: 20px;
    height: 250px;
    padding-top: 30px;
}
.waitList fieldset {
    padding: 25px;
    margin: 0 auto;
    margin-top: 10px;
    width: 500px;
}

.waitList legend{
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;

}

.waitList form {
    width: 350px;
    margin: 0 auto;
    line-height: 25px;
    font-size: 1.2em;

}

.waitList input[type='text']{
    float: right;
    width: 175px;
}

.waitList input[type='time']{
    float: right;
    width: 95px;
    margin-right:78px;
}

.waitList input.pSize {
    width: 97px;
    margin-right:78px;
}

.waitList input[type='submit']{
    margin: 10px 0px 0px 130px;
    padding: 3px 20px 3px 20px;
    border: 4px groove #BEBEBE;
    border-radius: 20px;
    font-weight: 700;

}

#table {
    background-color: #BEBEBE;
    padding: 10px 0px 20px 0px;
   font-size: 1.3em;
   font-weight: 600;
   
    
}

#table h1,form {
    text-align: center;
    
}

