/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2017, 1:52:06 AM
    Author     : leona
*/

body {
    position: relative;
}

header {
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    background-image: url("images/title3.png");
    
}

main {
    width: 1000px;
    margin: 0 auto;

}

section {
    border: 2px solid black;
    background-color: lightgray;
    height: 450px;
    position: relative;
    margin-top: 40px;
    

}
article {
    margin: 0;
    padding: 0;
    float: right;
    width: 640px;
    height: 600px;
    background-color: green;


}
.right{
    height: 600px;
    float: right;
    width: 20%;
    border: 1px solid black;
    margin-right: 0;
}

.left{
    height: 600px;
    float: left;
    width: 175px;
    border: 1px solid black;

}
aside h2 {
    text-align: center;

}

aside input[type='submit'] {
    margin-left: 100px;
}

.table8a  {
    padding: 25px 30px 25px 30px;
    border-radius: 35px;
    position: absolute;
    left: 510px;
    top: 0px;
}

.table8b  {
    padding: 25px 30px 25px 30px;
    border-radius: 35px;
    position: absolute;
    left: 510px;
    top: 380px;
}

.table8c  {
    padding: 25px 30px 25px 30px;
    border-radius: 35px;
    position: absolute;
    left: 0px;
    top: 380px;
}

.table6a {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: 110px;
    top: 175px;
}

.table6b {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: 250px;
    top: 175px;
}

.table6c {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: 395px;
    top: 175px;
}

.table6d {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: -18px;
    top: 265px;
  -webkit-transform:rotate(270deg);
    
}

.table6e {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: 140px;
    top: 395px;
}

.table6f {
    padding: 17px 25px 17px 25px;
    border-radius: 10px;
    position: absolute;
    left: 380px;
    top: 395px;
}
.table4a {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 540px;
    top: 95px;
}

.table4b {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 540px;
    top: 165px;
}

.table4c {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 540px;
    top: 235px;
}
.table4d {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 540px;
    top: 305px;
}

.table4e {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 110px;
    top: 80px;
}

.table4f {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 215px;
    top: 80px;
}

.table4g {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 315px;
    top: 80px;
}
.table4h {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 415px;
    top: 80px;
}


.table4i {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 272px;
    top: 399px;
}
.table4j {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 110px;
    top: 285px;
}
.table4k {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 215px;
    top: 285px;
}
.table4l {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 315px;
    top: 285px;
}
.table4m {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: 415px;
    top: 285px;
}

.table4n {
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: absolute;
    left: -10px;
    top: 135px;
    -webkit-transform:rotate(270deg);
}
.table2a {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 100px;
    top: 0px;
}

.table2b {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 180px;
    top: 0px;

}

.table2c {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 260px;
    top: 0px;
}

.table2d {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 340px;
    top: 0px;

}

.table2e {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 420px;
    top: 0px;

}

.lowerbar {
    position: absolute;
    left: 570px;
    top: 0px;
}

.upperbar {
    position: absolute;
    left: 510px;
    top: 0px;
}